<!-- Blog Post -->
{% for p in object_list %}
<div class="card mb-4">
    <img class="card-img-top" src="{{ p.head_image_url }}" alt="Card image cap">
    <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
    <div class="card-body">
        <h2 class="card-title">{{p.title}}</h2>
        <p class="card-text">{{p.content}}</p>
        <a href="#" class="btn btn-primary">Read More &rarr;</a>
    </div>
    <div class="card-footer text-muted">
        {{p.created}}
        <a href="#">{{p.author}}</a>
    </div>
    {% endfor %}
</div>